.tokenwatcher-box {
  spacing: 8px;
}

.tokenwatcher-label {
  font-weight: bold;
  font-size: 10.5pt;
}

.tokenwatcher-popover-header {
  font-weight: bold;
  font-size: 12pt;
  margin-bottom: 8px;
}

.tokenwatcher-popover-item {
  font-size: 10pt;
  margin-top: 2px;
  margin-bottom: 2px;
}
